body {
    margin: 0 auto;
    padding: 0 auto;
}

form {
    width: 70%;
    position: relative;
    margin: auto;
    background-color: #2877A0;
    height: 450px;
}


form h1 {
    background-color: #1D1C1E;
    color: #fff;
    font-size: 30px;
    padding: 20px;
}

form span {
    background-color: #fff;
    color: #1d1c1e;
    font-weight: bold;
    margin-left: 5px;
}

form #checkbox {
    margin-left: 20px;
}

.clear {
    clear: both;
}

.buttons button {
    background-color: #364156;
    padding: 10px 20px;
    font-size: 30px;
    color: #fff;
}
