@mixin centerXY($x, $y) {
    position: absolute;
    left: $x;
    top: $y;
    transform: translate(-50%, -50%);
}


@mixin textSpacing($letter, $word) {
    letter-spacing: $letter;
    word-spacing: $word;
}


@mixin flexCenterAround($cross, $main) {
    display: flex;
    align-items: $cross;
    justify-content: $main;
}


@mixin fontSW($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}




@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 100em) { @content };
    }
}