* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

body {
  font-size: 62.5%;
  font-family: 'Muli', sans-serif;
}

@media (max-width: 75em) {
  body {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  body {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  body {
    font-size: 30%;
  }
}

@media (min-width: 100em) {
  body {
    font-size: 75%;
  }
}

a {
  text-decoration: none;
}

:root {
  --color-primary: #AC8949;
  --color-secondary: #F79B3B;
  --color-tertiary: #ED3537;
  --color-cvartiary: #F83809;
  --color-dark-1: #000;
  --color-dark-2: #1D1D1D;
  --color-light-1: #fff;
  --color-light-2: #e4e1e1;
  --color-light-3: #F8F6F7;
  --color-grey-1: #9B999A;
  --color-grey-2: #929292;
  --color-grey-3: #464646;
  --color-grey-4: #5E5F5B;
}

.active {
  color: var(--color-primary) !important;
}

.header {
  color: var(--color-light-1);
}

.header__logo {
  font-size: 2rem;
  color: currentColor;
}

@media (max-width: 37.5em) {
  .header__logo {
    font-size: 1rem;
    justify-self: flex-start;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  width: 35%;
}

@media (max-width: 75em) {
  .header__nav {
    padding: 2rem;
    width: 60%;
    display: none;
  }
}

@media (max-width: 56.25em) {
  .header__nav {
    width: 70%;
  }
}

@media (max-width: 37.5em) {
  .header__nav {
    display: none;
  }
}

.header__nav--item {
  list-style: none;
}

.header__nav--item > a {
  color: var(--color-light-1);
  font-size: 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__nav--item > a:hover {
  color: var(--color-primary);
}

.header__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 5rem;
  cursor: pointer;
}

@media (max-width: 75em) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__menu--line {
  height: .2rem;
  width: 2rem;
  margin: .2rem 0;
  background-color: #fff;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.header__check:checked ~ .header__menu--line-1 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.header__check:check ~ .header__menu--line-2 {
  opacity: 0;
}

.header__check:checked ~ .header__menu--line-3 {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.header__hamburger {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: orangered;
  z-index: -1;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--color-light-1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
}

.cta__heading {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: currentColor;
  text-align: center;
}

@media (max-width: 75em) {
  .cta__heading {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2.5px;
  }
}

@media (max-width: 56.25em) {
  .cta__heading {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2.5px;
  }
}

@media (max-width: 37.5em) {
  .cta__heading {
    font-size: 1.5rem;
    font-weight: 700;
    width: 500px;
    margin: auto;
  }
}

@media (min-width: 100em) {
  .cta__heading {
    font-size: 4rem;
    font-weight: 700;
  }
}

.cta__paragraph {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-spacing: 1px;
  text-align: center;
  line-height: 1.6;
  color: currentColor;
  width: 70%;
  margin: auto;
}

@media (max-width: 75em) {
  .cta__paragraph {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
  }
}

@media (max-width: 56.25em) {
  .cta__paragraph {
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2.5px;
  }
}

.cta__btn--lg {
  background-color: var(--color-primary);
  color: currentColor;
  border: none;
  padding: 1rem 3rem;
}

.btn {
  cursor: pointer;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.btn:hover {
  color: var(--color-primary);
  background-color: var(--color-light-1);
}

.discover__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 18rem;
}

@media (max-width: 75em) {
  .discover__container {
    height: 15rem;
  }
}

@media (max-width: 56.25em) {
  .discover__container {
    height: 20rem;
  }
}

@media (max-width: 37.5em) {
  .discover__container {
    height: 25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.discover__heading--1 {
  font-size: 3rem;
  font-weight: 700;
  color: currentColor;
}

.discover__heading--2 {
  font-size: 1rem;
  font-weight: 400;
}

.discover__paragraph {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: var(--color-grey-2);
  line-height: 1.7;
  width: 50%;
}

@media (max-width: 75em) {
  .discover__paragraph {
    width: 50%;
  }
}

@media (max-width: 56.25em) {
  .discover__paragraph {
    width: 40%;
  }
}

@media (max-width: 37.5em) {
  .discover__paragraph {
    width: 70%;
  }
}

.discover__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12rem;
}

.discover__user--profile {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
}

.discover__user--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 2.5rem;
}

.discover__user--role {
  font-size: 0.6rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: var(--color-light-3);
}

.menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  padding: 1.5rem;
}

@media (max-width: 56.25em) {
  .menu__options {
    width: 90%;
  }
}

@media (max-width: 37.5em) {
  .menu__options {
    width: 150%;
  }
}

.menu__options li {
  list-style: none;
  position: relative;
}

.menu__options li a {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-dark-2);
}

@media (max-width: 56.25em) {
  .menu__options li a {
    font-size: 0.4rem;
    font-weight: 400;
  }
}

.menu__options li a:hover {
  color: orangered;
}

.menu__thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 37.5em) {
  .menu__thumbnail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.menu__thumbnail > div {
  width: 33.3%;
  height: 400px;
  background-color: black;
}

@media (max-width: 56.25em) {
  .menu__thumbnail > div {
    height: 300px;
  }
}

@media (max-width: 37.5em) {
  .menu__thumbnail > div {
    width: 100%;
  }
}

.menu__thumbnail > div:not(:last-of-type) {
  margin-right: 1rem;
}

@media (max-width: 37.5em) {
  .menu__thumbnail > div:not(:last-of-type) {
    margin-right: 0;
  }
  .menu__thumbnail > div:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.dish__heading {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 37.5em) {
  .dish__heading {
    font-size: 2rem;
    font-weight: 800;
  }
}

.dish__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dish__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: .8rem;
  width: 25%;
}

@media (max-width: 75em) {
  .dish__options {
    width: 30%;
  }
}

@media (max-width: 56.25em) {
  .dish__options {
    width: 55%;
  }
}

@media (max-width: 37.5em) {
  .dish__options li:not(:last-of-type) {
    margin-right: 2rem;
  }
}

.dish__options::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 13%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 89%;
  height: 5px;
  background-color: var(--color-light-3);
}

.dish__options li {
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
  border-bottom: 3px solid var(--color-tertiary);
  padding-bottom: 1rem;
}

.dish__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  grid-gap: 2rem;
  justify-items: center;
  margin-top: 4rem;
}

@media (max-width: 75em) {
  .dish__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
  }
}

.dish__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.1);
  width: 500px;
}

@media (max-width: 37.5em) {
  .dish__item {
    width: 300px;
  }
}

.dish__item--img {
  width: 25%;
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center center;
}

@media (max-width: 37.5em) {
  .dish__item--img {
    width: 35%;
  }
}

.dish__item--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding: 2rem;
}

@media (max-width: 37.5em) {
  .dish__item--description {
    width: 100%;
  }
}

.dish__item--product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4rem;
}

.dish__item--product--name {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-tertiary);
}

@media (max-width: 37.5em) {
  .dish__item--product--name {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

.dish__item--product--recipe {
  font-size: 0.8rem;
  font-weight: 300;
}

.dish__item--price {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-tertiary);
}

.reservation__heading {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-light-1);
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .reservation__heading {
    margin-bottom: 1rem;
  }
}

.reservation__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .reservation__table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20rem;
  }
}

.reservation__input {
  margin-right: 1rem;
  padding: .7rem 1rem;
  border: none;
  color: var(--color-grey-2);
}

@media (max-width: 56.25em) {
  .reservation__input {
    padding: .5rem .8rem;
    width: 100%;
    margin-right: 0;
  }
}

.reservation__button {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-light-1);
  background-color: var(--color-tertiary);
  padding: .55rem 2rem;
  border: none;
  cursor: pointer;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.team__heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}

@media (max-width: 56.25em) {
  .team__heading {
    margin-bottom: 2.5rem;
  }
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin: auto;
}

@media (max-width: 56.25em) {
  .team__container {
    width: 80%;
  }
}

@media (max-width: 37.5em) {
  .team__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.team__member--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.team__member--data-img {
  width: 90%;
  margin-bottom: 1rem;
}

.team__member--data-name {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.team__member--data-role {
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-tertiary);
  margin-top: 1px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0rem;
}

.newsletter__heading {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-light-1);
}

.newsletter__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-light-1);
  width: 550px;
}

@media (max-width: 37.5em) {
  .newsletter__subscribe {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.newsletter__subscribe--input {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color-grey-1);
  border: none;
  width: 90%;
  padding: 1rem;
}

.newsletter__subscribe--button {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-light-1);
  background-color: var(--color-cvartiary);
  border: none;
  margin-right: 1rem;
  padding: .4rem 1.5rem;
  justify-self: flex-end;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .newsletter__subscribe--button {
    margin: 0;
    width: 100%;
    padding: .6rem 1.5rem;
  }
}

.contact {
  position: relative;
}

.contact__container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 37.5em) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 8rem;
  padding-left: 3rem;
  padding-right: 12rem;
  background-color: var(--color-light-1);
}

@media (max-width: 37.5em) {
  .contact__form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
    text-align: center;
  }
}

.contact__form--paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-grey-4);
  margin-bottom: 2rem;
}

.contact__form--input {
  color: var(--color-grey-1);
  border: none;
  border-bottom: 1px solid var(--color-light-2);
  width: 50%;
  padding: .5rem 0;
  margin-bottom: 2rem;
}

@media (max-width: 75em) {
  .contact__form--input {
    width: 150%;
  }
}

.contact__form--button {
  color: var(--color-grey-1);
  background-color: transparent;
  padding: .4rem .6rem;
  border: 1px solid currentColor;
  cursor: pointer;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.contact__form--button:hover {
  background-color: var(--color-grey-1);
  color: var(--color-light-1);
}

@media (max-width: 75em) {
  .contact__form--button {
    padding: .2rem .4rem;
  }
}

@media (max-width: 37.5em) {
  .contact__form--button {
    padding: .4rem 2rem;
  }
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  color: var(--color-light-1);
  background-color: var(--color-primary);
}

@media (max-width: 37.5em) {
  .contact__info {
    display: none;
  }
}

.contact__info--paragraph {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-top: -12rem;
  margin-bottom: 2rem;
}

.contact__info--span {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.contact__info--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5rem;
}

.contact__info--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.contact__info--item-icon {
  font-size: 1.25rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-right: 1.25rem;
}

.contact__info--item-paragraph {
  font-size: 1rem;
  font-weight: 300;
}

.footer {
  font-size: 1rem;
}

.footer a {
  color: var(--color-primary);
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main {
  background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7))), url("../img/bg-1.jpg");
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../img/bg-1.jpg");
  background-size: cover;
  background-position: top center;
  height: 75vh;
  position: relative;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 99vw;
  padding: 8rem 4rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, transparent)), url(../img/bg-3.jpg);
  background-image: linear-gradient(to right, #fff 50%, transparent 50%), url(../img/bg-3.jpg);
  background-position: -50% 30%;
  background-size: cover;
  color: var(--color-dark-2);
}

@media (max-width: 37.5em) {
  .discover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff)), url(../img/bg-3.jpg);
    background-image: linear-gradient(to right, #fff 50%), url(../img/bg-3.jpg);
  }
}

.menu {
  padding-bottom: 5rem;
}

.dish {
  padding: 5rem;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  margin: 5rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.25))), url(../img/meat.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url(../img/meat.jpg);
  background-size: cover;
  background-position: center;
}

.team {
  padding: 5rem 0;
}

@media (max-width: 56.25em) {
  .team {
    padding: 3rem 0;
  }
}

.newsletter {
  height: 40vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.7))), url("../img/bg-1.jpg");
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../img/bg-1.jpg");
  background-size: cover;
  background-position: top center;
}

.contact {
  height: 70vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, var(--color-light-3)), color-stop(60%, var(--color-grey-3)));
  background-image: linear-gradient(180deg, var(--color-light-3) 60%, var(--color-grey-3) 60%);
}

@media (max-width: 75em) {
  .contact {
    height: 80vh;
  }
}

.footer {
  width: 99vw;
  background-color: var(--color-grey-3);
  text-align: center;
  color: var(--color-light-1);
}
/*# sourceMappingURL=main.css.map */